@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-color-theme{
    color: #fff !important;
    background-color: #00bfa6;
}

.btn-color-theme:hover{
    color: #fff !important;
    background-color: #149786;
}

.text-theme{
    color: #00bfa6;
}


a:hover{
    color: #149786;
} 

.border-radius-10{
    border-radius: 10px;
}

.btn-outline-theme{
    border: 1px solid #149786;
    color: #149786 !important;
}

.btn-outline-theme:hover{
    background-color: #149786;
    border-color: #149786;
    color: #fff !important;
}

.navbar .navbar-nav li{
    font-size: 16px;
    padding-left:  15px;
}

@media(max-width: 576px) {
    .navbar-collapse{
        margin: 0px 30px 0px 30px;
    }
    .navbar-nav .btn-outline-theme{
        margin-top: 10px;
    }
    .hero img{
        width: 350px;
        margin-top: 19px;
    }
    .about img{
        width: 350px;
        margin: 10px;
    }
    .popular-barber{
        padding: 0px 15px 0px 15px;
    }
    .popular-barber img{
        width: 100%;
        margin-bottom: 10px;
    }
}

.text-orange{
    color: #F09613 !important;
}

.budge-muted{
    color: #6F6F6F;
    background-color: #f3f3f3;
}

.bg-theme{
    background-color: #fbfcfd;
}

/* .popular-barber{
    padding: 0px 80px 0px 80px;
} */